<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_2_Logica.Properties.Settings.Conexion_Juan" connectionString="Data Source=LAPTOP-VE4H6KBS;Initial Catalog=DB_DEPORTES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_2_Logica.Properties.Settings.Conexion_Angel" connectionString="Data Source=DESKTOP-HAKO7TF\SQLEXPRESS;Initial Catalog=DB_DEPORTES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_2_Logica.Properties.Settings.Conexion_Damian" connectionString="Data Source=DAMIANXD;Initial Catalog=DB_DEPORTES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>