<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_2_Logica.Properties.Settings.Conexion" connectionString="Data Source=DESKTOP-HAKO7TF\SQLEXPRESS;Initial Catalog=DB_DEPORTES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>